USE [QL_PBL]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[matKhauHash] [varchar](255) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[anhDaiDien] [nvarchar](500) NULL,
	[role] [varchar](10) NULL,
	[trangThai] [nvarchar](20) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[maAdmin] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[chuyenMon] [nvarchar](100) NULL,
	[chucVu] [nvarchar](100) NULL,
	[ngayDongBo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiNopCuoiKy]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiNopCuoiKy](
	[maBaiNop] [varchar](20) NOT NULL,
	[maNhom] [varchar](20) NULL,
	[maMilestone] [varchar](20) NULL,
	[maNguoiNop] [varchar](20) NULL,
	[tieuDe] [nvarchar](255) NULL,
	[tomTat] [nvarchar](max) NULL,
	[soLanCheck] [int] NULL,
	[tyLeTuongDong] [float] NULL,
	[trangThai] [nvarchar](20) NULL,
	[ngayDang] [datetime] NULL,
	[duongDanFile] [nvarchar](500) NULL,
	[tenFileHeThong] [nvarchar](255) NULL,
	[deXuatThuVien] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBaiNop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoDinhKy]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoDinhKy](
	[maBaoCao] [varchar](20) NOT NULL,
	[maNhom] [varchar](20) NULL,
	[maMilestone] [varchar](20) NULL,
	[maNguoiNop] [varchar](20) NULL,
	[phienBan] [int] NULL,
	[duongDanFile] [nvarchar](500) NULL,
	[loaiFile] [varchar](20) NULL,
	[dungLuongFile] [bigint] NULL,
	[trangThai] [nvarchar](20) NULL,
	[diemBaoCao] [float] NULL,
	[thoiGianNop] [datetime] NULL,
	[isNopTre] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiDiemDanh]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiDiemDanh](
	[maBuoiDiemDanh] [varchar](20) NOT NULL,
	[maLopPBL] [varchar](20) NULL,
	[maNguoiTao] [varchar](20) NULL,
	[ngayDiemDanh] [datetime] NULL,
	[ghiChu] [nvarchar](255) NULL,
	[diemPhatVang] [float] NULL,
	[trangThai] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBuoiDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDiemDanh]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDiemDanh](
	[maChiTietDD] [varchar](20) NOT NULL,
	[maBuoiDiemDanh] [varchar](20) NULL,
	[maSinhVien] [varchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](255) NULL,
	[thoiGianDiemDanh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTietDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyLop]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyLop](
	[maDangKy] [varchar](20) NOT NULL,
	[maLop] [varchar](20) NULL,
	[maSinhVien] [varchar](20) NULL,
	[trangThaiLop] [nvarchar](10) NULL,
	[ngayDangKy] [datetime] NULL,
	[ngayDongBo] [datetime] NULL,
	[trangThaiSinhVien] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deadline]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deadline](
	[maDeadline] [varchar](20) NOT NULL,
	[maMilestone] [varchar](20) NULL,
	[thoiGianBatDau] [datetime] NULL,
	[thoiGianKetThuc] [datetime] NULL,
	[loai] [nvarchar](10) NULL,
	[isQuaDeadline] [bit] NULL,
	[daGiaHan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDeadline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[maDeTai] [varchar](20) NOT NULL,
	[maNhom] [varchar](20) NULL,
	[maLop] [varchar](20) NULL,
	[maNguoiTao] [varchar](20) NULL,
	[tieuDe] [nvarchar](255) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[soThanhVienToiDa] [int] NULL,
	[soThanhVienToiThieu] [int] NULL,
	[trangThaiDeTai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemCaNhan]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemCaNhan](
	[maDiemCaNhan] [varchar](20) NOT NULL,
	[maSinhVien] [varchar](20) NULL,
	[maNhom] [varchar](20) NULL,
	[maNguoiCham] [varchar](20) NULL,
	[diemDiemDanh] [float] NULL,
	[diemDeadline] [float] NULL,
	[diemDieuChinh] [float] NULL,
	[diemNhom] [float] NULL,
	[diemTongKet] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDiemCaNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemNhom]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemNhom](
	[maDiemNhom] [varchar](20) NOT NULL,
	[maLopPBL] [varchar](20) NULL,
	[maNhom] [varchar](20) NULL,
	[maMilestone] [varchar](20) NULL,
	[maNguoiCham] [varchar](20) NULL,
	[diemTienDo] [float] NULL,
	[diemCuoiKy] [float] NULL,
	[ngayCham] [datetime] NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDiemNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemTraTuongDong]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemTraTuongDong](
	[maKiemTraTD] [varchar](20) NOT NULL,
	[maNguon] [varchar](20) NULL,
	[loaiNguon] [nvarchar](20) NULL,
	[tyLeTuongDong] [float] NULL,
	[lanKiemTra] [int] NULL,
	[thoiGianKiemTra] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKiemTraTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[maGiangVien] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[queQuan] [nvarchar](255) NULL,
	[nganh] [nvarchar](100) NULL,
	[khoa] [nvarchar](100) NULL,
	[hocVi] [nvarchar](50) NULL,
	[ngayDongBo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThaoTac]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThaoTac](
	[maLSTT] [varchar](20) NOT NULL,
	[maNguoiThucHien] [varchar](20) NULL,
	[maDoiTuong] [varchar](20) NULL,
	[loaiNguoiThucHien] [varchar](10) NULL,
	[loaiDoiTuong] [varchar](10) NULL,
	[hanhDong] [nvarchar](100) NULL,
	[chiTiet] [nvarchar](max) NULL,
	[thoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLSTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopPBL]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopPBL](
	[maLop] [varchar](20) NOT NULL,
	[maGiangVien] [varchar](20) NULL,
	[tenLop] [nvarchar](100) NOT NULL,
	[hocKy] [varchar](10) NULL,
	[namHoc] [varchar](20) NULL,
	[trangThai] [nvarchar](10) NULL,
	[ngayTao] [datetime] NULL,
	[ngayDongBo] [datetime] NULL,
	[thuTrongTuan] [int] NULL,
	[tietBatDau] [int] NULL,
	[tietKetThuc] [int] NULL,
	[phongHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestone](
	[maMilestone] [varchar](20) NOT NULL,
	[maLopPBL] [varchar](20) NULL,
	[tenMistone] [nvarchar](100) NULL,
	[loai] [nvarchar](20) NULL,
	[moTa] [nvarchar](max) NULL,
	[thuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maMilestone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanXet]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanXet](
	[maNhanXet] [varchar](20) NOT NULL,
	[maBaiNop] [varchar](20) NOT NULL,
	[maGiangVien] [varchar](20) NULL,
	[loaiNhanXet] [nvarchar](20) NULL,
	[noiDung] [nvarchar](max) NOT NULL,
	[diem] [float] NULL,
	[thoiGianNhanXet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanXet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[maNhom] [varchar](20) NOT NULL,
	[maLopPBL] [varchar](20) NULL,
	[maTruongNhom] [varchar](20) NULL,
	[tenNhom] [nvarchar](100) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[maSinhVien] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[queQuan] [nvarchar](255) NULL,
	[nganh] [nvarchar](100) NULL,
	[khoa] [nvarchar](100) NULL,
	[khoaHoc] [varchar](20) NULL,
	[LopSinhHoat] [nvarchar](50) NULL,
	[ngayDongBo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVienNhom]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVienNhom](
	[maNhom] [varchar](20) NOT NULL,
	[maSinhVien] [varchar](20) NOT NULL,
	[ngayThamGia] [datetime] NULL,
	[vaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhom] ASC,
	[maSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[maThongBao] [varchar](20) NOT NULL,
	[maNguoiNhan] [varchar](20) NULL,
	[maNguoiGui] [varchar](20) NULL,
	[loaiNguoiNhan] [varchar](10) NULL,
	[loaiNguoiGui] [varchar](10) NULL,
	[tieuDe] [nvarchar](255) NULL,
	[noiDung] [nvarchar](max) NULL,
	[loai] [varchar](50) NULL,
	[doiTuongLienQuan] [nvarchar](50) NULL,
	[daDoc] [bit] NULL,
	[ngayGui] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuKhoa]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuKhoa](
	[maTuKhoa] [varchar](20) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[duongDan] [nvarchar](255) NULL,
	[soLanDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTuKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuKhoaBaoCao]    Script Date: 4/4/2026 6:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuKhoaBaoCao](
	[maBaoCao] [varchar](20) NOT NULL,
	[maTuKhoa] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maBaoCao] ASC,
	[maTuKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuKhoaDeTai]    Script Date: 4/4/2026 6:23:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuKhoaDeTai](
	[maDeTai] [varchar](20) NOT NULL,
	[maTuKhoa] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDeTai] ASC,
	[maTuKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauThuVien]    Script Date: 4/4/2026 6:23:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauThuVien](
	[maYeuCau] [varchar](20) NOT NULL,
	[maBaiNopCuoiKy] [varchar](20) NULL,
	[maNguoiGui] [varchar](20) NULL,
	[maNguoiDuyet] [varchar](20) NULL,
	[loai] [nvarchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
	[lyDo] [nvarchar](500) NULL,
	[ngayGui] [datetime] NULL,
	[ngayDuyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([id], [email], [matKhauHash], [soDienThoai], [anhDaiDien], [role], [trangThai], [ngayTao]) VALUES (N'AD01', N'admin@pbl.vn', N'hash1', NULL, NULL, N'AD', N'HOATDONG', CAST(N'2026-04-04T05:10:35.937' AS DateTime))
INSERT [dbo].[Account] ([id], [email], [matKhauHash], [soDienThoai], [anhDaiDien], [role], [trangThai], [ngayTao]) VALUES (N'GV01', N'thaygiaovien@pbl.vn', N'hash2', NULL, NULL, N'GV', N'HOATDONG', CAST(N'2026-04-04T05:10:35.937' AS DateTime))
INSERT [dbo].[Account] ([id], [email], [matKhauHash], [soDienThoai], [anhDaiDien], [role], [trangThai], [ngayTao]) VALUES (N'SV01', N'sinhvien01@pbl.vn', N'hash3', NULL, NULL, N'SV', N'HOATDONG', CAST(N'2026-04-04T05:10:35.937' AS DateTime))
GO
INSERT [dbo].[Admin] ([maAdmin], [hoTen], [chuyenMon], [chucVu], [ngayDongBo]) VALUES (N'AD01', N'Lê Quản Trị', N'Hệ thống', NULL, CAST(N'2026-04-04T05:10:35.997' AS DateTime))
GO
INSERT [dbo].[BaiNopCuoiKy] ([maBaiNop], [maNhom], [maMilestone], [maNguoiNop], [tieuDe], [tomTat], [soLanCheck], [tyLeTuongDong], [trangThai], [ngayDang], [duongDanFile], [tenFileHeThong], [deXuatThuVien]) VALUES (N'CK01', N'N01', N'MS01', N'SV01', N'Final Report', NULL, 0, NULL, N'DA_DUYET', NULL, NULL, NULL, 0)
GO
INSERT [dbo].[BaoCaoDinhKy] ([maBaoCao], [maNhom], [maMilestone], [maNguoiNop], [phienBan], [duongDanFile], [loaiFile], [dungLuongFile], [trangThai], [diemBaoCao], [thoiGianNop], [isNopTre]) VALUES (N'BC01', N'N01', N'MS01', N'SV01', 1, NULL, NULL, NULL, N'DA_DUYET', NULL, CAST(N'2026-04-04T05:10:36.053' AS DateTime), 0)
GO
INSERT [dbo].[BuoiDiemDanh] ([maBuoiDiemDanh], [maLopPBL], [maNguoiTao], [ngayDiemDanh], [ghiChu], [diemPhatVang], [trangThai]) VALUES (N'BDD01', N'L01', N'GV01', CAST(N'2026-04-04T05:10:36.060' AS DateTime), NULL, 0, N'DONG')
GO
INSERT [dbo].[ChiTietDiemDanh] ([maChiTietDD], [maBuoiDiemDanh], [maSinhVien], [trangThai], [ghiChu], [thoiGianDiemDanh]) VALUES (N'CT01', N'BDD01', N'SV01', N'CO_MAT', NULL, CAST(N'2026-04-04T05:10:36.070' AS DateTime))
INSERT [dbo].[ChiTietDiemDanh] ([maChiTietDD], [maBuoiDiemDanh], [maSinhVien], [trangThai], [ghiChu], [thoiGianDiemDanh]) VALUES (N'CT02', N'BDD01', N'SV02', N'CO_MAT', NULL, CAST(N'2026-04-04T05:10:36.070' AS DateTime))
GO
INSERT [dbo].[DangKyLop] ([maDangKy], [maLop], [maSinhVien], [trangThaiLop], [ngayDangKy], [ngayDongBo], [trangThaiSinhVien], [ghiChu]) VALUES (N'DK01', N'L01', N'SV01', N'MO', CAST(N'2026-04-04T05:10:36.017' AS DateTime), CAST(N'2026-04-04T05:10:36.017' AS DateTime), N'DANG_HOC', NULL)
INSERT [dbo].[DangKyLop] ([maDangKy], [maLop], [maSinhVien], [trangThaiLop], [ngayDangKy], [ngayDongBo], [trangThaiSinhVien], [ghiChu]) VALUES (N'DK02', N'L01', N'SV02', N'MO', CAST(N'2026-04-04T05:10:36.017' AS DateTime), CAST(N'2026-04-04T05:10:36.017' AS DateTime), N'DANG_HOC', NULL)
GO
INSERT [dbo].[Deadline] ([maDeadline], [maMilestone], [thoiGianBatDau], [thoiGianKetThuc], [loai], [isQuaDeadline], [daGiaHan]) VALUES (N'DL01', N'MS01', CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-04-10T00:00:00.000' AS DateTime), N'GOC', 0, 0)
GO
INSERT [dbo].[DeTai] ([maDeTai], [maNhom], [maLop], [maNguoiTao], [tieuDe], [moTa], [soThanhVienToiDa], [soThanhVienToiThieu], [trangThaiDeTai]) VALUES (N'DT01', N'N01', N'L01', N'SV01', N'Hệ thống quản lý PBL', NULL, 3, 1, N'DA_DUYET')
GO
INSERT [dbo].[DiemCaNhan] ([maDiemCaNhan], [maSinhVien], [maNhom], [maNguoiCham], [diemDiemDanh], [diemDeadline], [diemDieuChinh], [diemNhom], [diemTongKet]) VALUES (N'DCN01', N'SV01', N'N01', NULL, 10, NULL, NULL, NULL, 9)
GO
INSERT [dbo].[DiemNhom] ([maDiemNhom], [maLopPBL], [maNhom], [maMilestone], [maNguoiCham], [diemTienDo], [diemCuoiKy], [ngayCham], [ghiChu]) VALUES (N'DN01', N'L01', N'N01', N'MS01', NULL, 8.5, NULL, NULL, NULL)
GO
INSERT [dbo].[KiemTraTuongDong] ([maKiemTraTD], [maNguon], [loaiNguon], [tyLeTuongDong], [lanKiemTra], [thoiGianKiemTra]) VALUES (N'TD01', N'BC01', N'BAI_NOP', 10.5, NULL, CAST(N'2026-04-04T05:10:36.120' AS DateTime))
GO
INSERT [dbo].[Lecturer] ([maGiangVien], [hoTen], [ngaySinh], [gioiTinh], [queQuan], [nganh], [khoa], [hocVi], [ngayDongBo]) VALUES (N'GV01', N'Trần Thế Học', NULL, NULL, NULL, NULL, N'CNTT', N'Tiến sĩ', CAST(N'2026-04-04T05:10:35.990' AS DateTime))
GO
INSERT [dbo].[LichSuThaoTac] ([maLSTT], [maNguoiThucHien], [maDoiTuong], [loaiNguoiThucHien], [loaiDoiTuong], [hanhDong], [chiTiet], [thoiGian]) VALUES (N'LS01', N'SV01', N'AD01', NULL, NULL, N'LOGIN', NULL, CAST(N'2026-04-04T05:10:36.117' AS DateTime))
GO
INSERT [dbo].[LopPBL] ([maLop], [maGiangVien], [tenLop], [hocKy], [namHoc], [trangThai], [ngayTao], [ngayDongBo], [thuTrongTuan], [tietBatDau], [tietKetThuc], [phongHoc]) VALUES (N'L01', N'GV01', N'PBL3: Dự án phần mềm', N'2', N'2025-2026', N'MO', CAST(N'2026-04-04T05:10:36.000' AS DateTime), CAST(N'2026-04-04T05:10:36.000' AS DateTime), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Milestone] ([maMilestone], [maLopPBL], [tenMistone], [loai], [moTa], [thuTu]) VALUES (N'MS01', N'L01', N'Báo cáo DB', N'TIEN_DO', NULL, 1)
GO
INSERT [dbo].[NhanXet] ([maNhanXet], [maBaiNop], [maGiangVien], [loaiNhanXet], [noiDung], [diem], [thoiGianNhanXet]) VALUES (N'NX01', N'BC01', N'GV01', N'TIEN_DO', N'Làm tốt lắm', 8.5, CAST(N'2026-03-28T09:30:00.000' AS DateTime))
GO
INSERT [dbo].[Nhom] ([maNhom], [maLopPBL], [maTruongNhom], [tenNhom], [trangThai], [ngayTao]) VALUES (N'N01', N'L01', N'SV01', N'The Pioneers', N'HOAT_DONG', CAST(N'2026-04-04T05:10:36.023' AS DateTime))
GO
INSERT [dbo].[Student] ([maSinhVien], [hoTen], [ngaySinh], [gioiTinh], [queQuan], [nganh], [khoa], [khoaHoc], [LopSinhHoat], [ngayDongBo]) VALUES (N'SV01', N'Nguyễn Văn An', NULL, NULL, NULL, N'KHDL', N'CNTT', N'22', NULL, CAST(N'2026-04-04T05:10:35.973' AS DateTime))
INSERT [dbo].[Student] ([maSinhVien], [hoTen], [ngaySinh], [gioiTinh], [queQuan], [nganh], [khoa], [khoaHoc], [LopSinhHoat], [ngayDongBo]) VALUES (N'SV02', N'Lê Thị Bình', NULL, NULL, NULL, N'KHDL', N'CNTT', N'22', NULL, CAST(N'2026-04-04T05:10:35.973' AS DateTime))
INSERT [dbo].[Student] ([maSinhVien], [hoTen], [ngaySinh], [gioiTinh], [queQuan], [nganh], [khoa], [khoaHoc], [LopSinhHoat], [ngayDongBo]) VALUES (N'SV03', N'Trần Công Danh', NULL, NULL, NULL, N'CNTT', N'CNTT', N'22', NULL, CAST(N'2026-04-04T05:10:35.973' AS DateTime))
GO
INSERT [dbo].[ThanhVienNhom] ([maNhom], [maSinhVien], [ngayThamGia], [vaiTro]) VALUES (N'N01', N'SV01', CAST(N'2026-04-04T05:10:36.030' AS DateTime), N'Leader')
INSERT [dbo].[ThanhVienNhom] ([maNhom], [maSinhVien], [ngayThamGia], [vaiTro]) VALUES (N'N01', N'SV02', CAST(N'2026-04-04T05:10:36.030' AS DateTime), N'Member')
GO
INSERT [dbo].[ThongBao] ([maThongBao], [maNguoiNhan], [maNguoiGui], [loaiNguoiNhan], [loaiNguoiGui], [tieuDe], [noiDung], [loai], [doiTuongLienQuan], [daDoc], [ngayGui]) VALUES (N'TB01', N'SV01', N'GV01', NULL, NULL, N'Chúc mừng em qua môn', NULL, NULL, NULL, 0, CAST(N'2026-04-04T05:10:36.113' AS DateTime))
GO
INSERT [dbo].[TuKhoa] ([maTuKhoa], [ten], [duongDan], [soLanDung]) VALUES (N'TK01', N'SQL', NULL, 1)
INSERT [dbo].[TuKhoa] ([maTuKhoa], [ten], [duongDan], [soLanDung]) VALUES (N'TK02', N'WinForms', NULL, 1)
GO
INSERT [dbo].[TuKhoaBaoCao] ([maBaoCao], [maTuKhoa]) VALUES (N'CK01', N'TK02')
GO
INSERT [dbo].[TuKhoaDeTai] ([maDeTai], [maTuKhoa]) VALUES (N'DT01', N'TK01')
GO
INSERT [dbo].[YeuCauThuVien] ([maYeuCau], [maBaiNopCuoiKy], [maNguoiGui], [maNguoiDuyet], [loai], [trangThai], [lyDo], [ngayGui], [ngayDuyet]) VALUES (N'YC01', N'CK01', N'GV01', N'AD01', N'PUBLIC', N'DA_DUYET', NULL, CAST(N'2026-04-04T05:10:36.110' AS DateTime), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E61648AB3C44A]    Script Date: 4/4/2026 6:23:04 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [ngayDongBo]
GO
ALTER TABLE [dbo].[BaiNopCuoiKy] ADD  DEFAULT ((0)) FOR [soLanCheck]
GO
ALTER TABLE [dbo].[BaiNopCuoiKy] ADD  DEFAULT ((0)) FOR [deXuatThuVien]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] ADD  DEFAULT ((1)) FOR [phienBan]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] ADD  DEFAULT (getdate()) FOR [thoiGianNop]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] ADD  DEFAULT ((0)) FOR [isNopTre]
GO
ALTER TABLE [dbo].[BuoiDiemDanh] ADD  DEFAULT (getdate()) FOR [ngayDiemDanh]
GO
ALTER TABLE [dbo].[BuoiDiemDanh] ADD  DEFAULT ((0)) FOR [diemPhatVang]
GO
ALTER TABLE [dbo].[ChiTietDiemDanh] ADD  DEFAULT (getdate()) FOR [thoiGianDiemDanh]
GO
ALTER TABLE [dbo].[DangKyLop] ADD  DEFAULT (getdate()) FOR [ngayDangKy]
GO
ALTER TABLE [dbo].[DangKyLop] ADD  DEFAULT (getdate()) FOR [ngayDongBo]
GO
ALTER TABLE [dbo].[Deadline] ADD  DEFAULT ((0)) FOR [isQuaDeadline]
GO
ALTER TABLE [dbo].[Deadline] ADD  DEFAULT ((0)) FOR [daGiaHan]
GO
ALTER TABLE [dbo].[DeTai] ADD  DEFAULT ((3)) FOR [soThanhVienToiDa]
GO
ALTER TABLE [dbo].[DeTai] ADD  DEFAULT ((1)) FOR [soThanhVienToiThieu]
GO
ALTER TABLE [dbo].[KiemTraTuongDong] ADD  DEFAULT (getdate()) FOR [thoiGianKiemTra]
GO
ALTER TABLE [dbo].[Lecturer] ADD  DEFAULT (getdate()) FOR [ngayDongBo]
GO
ALTER TABLE [dbo].[LichSuThaoTac] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[LopPBL] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[LopPBL] ADD  DEFAULT (getdate()) FOR [ngayDongBo]
GO
ALTER TABLE [dbo].[NhanXet] ADD  DEFAULT (getdate()) FOR [thoiGianNhanXet]
GO
ALTER TABLE [dbo].[Nhom] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [ngayDongBo]
GO
ALTER TABLE [dbo].[ThanhVienNhom] ADD  DEFAULT (getdate()) FOR [ngayThamGia]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [daDoc]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[TuKhoa] ADD  DEFAULT ((0)) FOR [soLanDung]
GO
ALTER TABLE [dbo].[YeuCauThuVien] ADD  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Account] FOREIGN KEY([maAdmin])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Account]
GO
ALTER TABLE [dbo].[BaiNopCuoiKy]  WITH CHECK ADD  CONSTRAINT [FK_BNCK_ML] FOREIGN KEY([maMilestone])
REFERENCES [dbo].[Milestone] ([maMilestone])
GO
ALTER TABLE [dbo].[BaiNopCuoiKy] CHECK CONSTRAINT [FK_BNCK_ML]
GO
ALTER TABLE [dbo].[BaiNopCuoiKy]  WITH CHECK ADD  CONSTRAINT [FK_BNCK_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[BaiNopCuoiKy] CHECK CONSTRAINT [FK_BNCK_Nhom]
GO
ALTER TABLE [dbo].[BaiNopCuoiKy]  WITH CHECK ADD  CONSTRAINT [FK_BNCK_NN] FOREIGN KEY([maNguoiNop])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[BaiNopCuoiKy] CHECK CONSTRAINT [FK_BNCK_NN]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_BC_MS] FOREIGN KEY([maMilestone])
REFERENCES [dbo].[Milestone] ([maMilestone])
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] CHECK CONSTRAINT [FK_BC_MS]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_BC_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] CHECK CONSTRAINT [FK_BC_Nhom]
GO
ALTER TABLE [dbo].[BaoCaoDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_BC_NN] FOREIGN KEY([maNguoiNop])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[BaoCaoDinhKy] CHECK CONSTRAINT [FK_BC_NN]
GO
ALTER TABLE [dbo].[BuoiDiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_BDD_Lop] FOREIGN KEY([maLopPBL])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[BuoiDiemDanh] CHECK CONSTRAINT [FK_BDD_Lop]
GO
ALTER TABLE [dbo].[BuoiDiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_BDD_NT] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[BuoiDiemDanh] CHECK CONSTRAINT [FK_BDD_NT]
GO
ALTER TABLE [dbo].[ChiTietDiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_CTDD_Buoi] FOREIGN KEY([maBuoiDiemDanh])
REFERENCES [dbo].[BuoiDiemDanh] ([maBuoiDiemDanh])
GO
ALTER TABLE [dbo].[ChiTietDiemDanh] CHECK CONSTRAINT [FK_CTDD_Buoi]
GO
ALTER TABLE [dbo].[ChiTietDiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_CTDD_SV] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[ChiTietDiemDanh] CHECK CONSTRAINT [FK_CTDD_SV]
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD  CONSTRAINT [FK_DK_Lop] FOREIGN KEY([maLop])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[DangKyLop] CHECK CONSTRAINT [FK_DK_Lop]
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD  CONSTRAINT [FK_DK_SV] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[DangKyLop] CHECK CONSTRAINT [FK_DK_SV]
GO
ALTER TABLE [dbo].[Deadline]  WITH CHECK ADD  CONSTRAINT [FK_DL_MS] FOREIGN KEY([maMilestone])
REFERENCES [dbo].[Milestone] ([maMilestone])
GO
ALTER TABLE [dbo].[Deadline] CHECK CONSTRAINT [FK_DL_MS]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [FK_DeTai_Lop] FOREIGN KEY([maLop])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [FK_DeTai_Lop]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [FK_DeTai_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [FK_DeTai_NguoiTao]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [FK_DeTai_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [FK_DeTai_Nhom]
GO
ALTER TABLE [dbo].[DiemCaNhan]  WITH CHECK ADD  CONSTRAINT [FK_DCN_NC] FOREIGN KEY([maNguoiCham])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[DiemCaNhan] CHECK CONSTRAINT [FK_DCN_NC]
GO
ALTER TABLE [dbo].[DiemCaNhan]  WITH CHECK ADD  CONSTRAINT [FK_DCN_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[DiemCaNhan] CHECK CONSTRAINT [FK_DCN_Nhom]
GO
ALTER TABLE [dbo].[DiemCaNhan]  WITH CHECK ADD  CONSTRAINT [FK_DCN_SV] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[DiemCaNhan] CHECK CONSTRAINT [FK_DCN_SV]
GO
ALTER TABLE [dbo].[DiemNhom]  WITH CHECK ADD  CONSTRAINT [FK_DN_Lop] FOREIGN KEY([maLopPBL])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[DiemNhom] CHECK CONSTRAINT [FK_DN_Lop]
GO
ALTER TABLE [dbo].[DiemNhom]  WITH CHECK ADD  CONSTRAINT [FK_DN_MS] FOREIGN KEY([maMilestone])
REFERENCES [dbo].[Milestone] ([maMilestone])
GO
ALTER TABLE [dbo].[DiemNhom] CHECK CONSTRAINT [FK_DN_MS]
GO
ALTER TABLE [dbo].[DiemNhom]  WITH CHECK ADD  CONSTRAINT [FK_DN_NC] FOREIGN KEY([maNguoiCham])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[DiemNhom] CHECK CONSTRAINT [FK_DN_NC]
GO
ALTER TABLE [dbo].[DiemNhom]  WITH CHECK ADD  CONSTRAINT [FK_DN_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[DiemNhom] CHECK CONSTRAINT [FK_DN_Nhom]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [FK_Lecturer_Account] FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [FK_Lecturer_Account]
GO
ALTER TABLE [dbo].[LichSuThaoTac]  WITH CHECK ADD  CONSTRAINT [FK_LSTT_DT] FOREIGN KEY([maDoiTuong])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[LichSuThaoTac] CHECK CONSTRAINT [FK_LSTT_DT]
GO
ALTER TABLE [dbo].[LichSuThaoTac]  WITH CHECK ADD  CONSTRAINT [FK_LSTT_NTH] FOREIGN KEY([maNguoiThucHien])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[LichSuThaoTac] CHECK CONSTRAINT [FK_LSTT_NTH]
GO
ALTER TABLE [dbo].[LopPBL]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Lecturer] FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[LopPBL] CHECK CONSTRAINT [FK_Lop_Lecturer]
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_MS_Lop] FOREIGN KEY([maLopPBL])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[Milestone] CHECK CONSTRAINT [FK_MS_Lop]
GO
ALTER TABLE [dbo].[NhanXet]  WITH CHECK ADD  CONSTRAINT [FK_NX_Lecturer] FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[NhanXet] CHECK CONSTRAINT [FK_NX_Lecturer]
GO
ALTER TABLE [dbo].[Nhom]  WITH CHECK ADD  CONSTRAINT [FK_Nhom_Leader] FOREIGN KEY([maTruongNhom])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[Nhom] CHECK CONSTRAINT [FK_Nhom_Leader]
GO
ALTER TABLE [dbo].[Nhom]  WITH CHECK ADD  CONSTRAINT [FK_Nhom_Lop] FOREIGN KEY([maLopPBL])
REFERENCES [dbo].[LopPBL] ([maLop])
GO
ALTER TABLE [dbo].[Nhom] CHECK CONSTRAINT [FK_Nhom_Lop]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[ThanhVienNhom]  WITH CHECK ADD  CONSTRAINT [FK_TV_Nhom] FOREIGN KEY([maNhom])
REFERENCES [dbo].[Nhom] ([maNhom])
GO
ALTER TABLE [dbo].[ThanhVienNhom] CHECK CONSTRAINT [FK_TV_Nhom]
GO
ALTER TABLE [dbo].[ThanhVienNhom]  WITH CHECK ADD  CONSTRAINT [FK_TV_SV] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[Student] ([maSinhVien])
GO
ALTER TABLE [dbo].[ThanhVienNhom] CHECK CONSTRAINT [FK_TV_SV]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_TB_NG] FOREIGN KEY([maNguoiGui])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_TB_NG]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_TB_NN] FOREIGN KEY([maNguoiNhan])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_TB_NN]
GO
ALTER TABLE [dbo].[TuKhoaBaoCao]  WITH CHECK ADD  CONSTRAINT [FK_TKBC_BC] FOREIGN KEY([maBaoCao])
REFERENCES [dbo].[BaiNopCuoiKy] ([maBaiNop])
GO
ALTER TABLE [dbo].[TuKhoaBaoCao] CHECK CONSTRAINT [FK_TKBC_BC]
GO
ALTER TABLE [dbo].[TuKhoaBaoCao]  WITH CHECK ADD  CONSTRAINT [FK_TKBC_TK] FOREIGN KEY([maTuKhoa])
REFERENCES [dbo].[TuKhoa] ([maTuKhoa])
GO
ALTER TABLE [dbo].[TuKhoaBaoCao] CHECK CONSTRAINT [FK_TKBC_TK]
GO
ALTER TABLE [dbo].[TuKhoaDeTai]  WITH CHECK ADD  CONSTRAINT [FK_TKDT_DT] FOREIGN KEY([maDeTai])
REFERENCES [dbo].[DeTai] ([maDeTai])
GO
ALTER TABLE [dbo].[TuKhoaDeTai] CHECK CONSTRAINT [FK_TKDT_DT]
GO
ALTER TABLE [dbo].[TuKhoaDeTai]  WITH CHECK ADD  CONSTRAINT [FK_TKDT_TK] FOREIGN KEY([maTuKhoa])
REFERENCES [dbo].[TuKhoa] ([maTuKhoa])
GO
ALTER TABLE [dbo].[TuKhoaDeTai] CHECK CONSTRAINT [FK_TKDT_TK]
GO
ALTER TABLE [dbo].[YeuCauThuVien]  WITH CHECK ADD  CONSTRAINT [FK_YCTV_BN] FOREIGN KEY([maBaiNopCuoiKy])
REFERENCES [dbo].[BaiNopCuoiKy] ([maBaiNop])
GO
ALTER TABLE [dbo].[YeuCauThuVien] CHECK CONSTRAINT [FK_YCTV_BN]
GO
ALTER TABLE [dbo].[YeuCauThuVien]  WITH CHECK ADD  CONSTRAINT [FK_YCTV_NG] FOREIGN KEY([maNguoiGui])
REFERENCES [dbo].[Lecturer] ([maGiangVien])
GO
ALTER TABLE [dbo].[YeuCauThuVien] CHECK CONSTRAINT [FK_YCTV_NG]
GO
ALTER TABLE [dbo].[YeuCauThuVien]  WITH CHECK ADD  CONSTRAINT [FK_YCTV_NN] FOREIGN KEY([maNguoiDuyet])
REFERENCES [dbo].[Admin] ([maAdmin])
GO
ALTER TABLE [dbo].[YeuCauThuVien] CHECK CONSTRAINT [FK_YCTV_NN]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='SV' OR [role]='GV' OR [role]='AD'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([trangThai]=N'KHOA' OR [trangThai]=N'HOATDONG'))
GO
ALTER TABLE [dbo].[BaiNopCuoiKy]  WITH CHECK ADD CHECK  (([trangThai]=N'YEU_CAU_SUA' OR [trangThai]=N'BI_TU_CHOI' OR [trangThai]=N'DA_DUYET' OR [trangThai]=N'CHO_DUYET'))
GO
ALTER TABLE [dbo].[BaoCaoDinhKy]  WITH CHECK ADD CHECK  (([loaiFile]='LINK' OR [loaiFile]='FILE'))
GO
ALTER TABLE [dbo].[BaoCaoDinhKy]  WITH CHECK ADD CHECK  (([trangThai]=N'TU_CHOI' OR [trangThai]=N'YEU_CAU_SUA' OR [trangThai]=N'DA_DUYET' OR [trangThai]=N'CHO_DUYET'))
GO
ALTER TABLE [dbo].[BuoiDiemDanh]  WITH CHECK ADD CHECK  (([trangThai]=N'DONG' OR [trangThai]=N'MO'))
GO
ALTER TABLE [dbo].[ChiTietDiemDanh]  WITH CHECK ADD CHECK  (([trangThai]=N'VANG' OR [trangThai]=N'CO_MAT'))
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD CHECK  (([trangThaiLop]=N'DONG' OR [trangThaiLop]=N'MO'))
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD CHECK  (([trangThaiSinhVien]=N'DA_ROT' OR [trangThaiSinhVien]=N'RUT_HOC_PHAN' OR [trangThaiSinhVien]=N'DANG_HOC'))
GO
ALTER TABLE [dbo].[Deadline]  WITH CHECK ADD CHECK  (([loai]=N'LAM_LAI' OR [loai]=N'GOC'))
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD CHECK  (([trangThaiDeTai]=N'TU_CHOI' OR [trangThaiDeTai]=N'DA_DUYET' OR [trangThaiDeTai]=N'CHO_DUYET'))
GO
ALTER TABLE [dbo].[KiemTraTuongDong]  WITH CHECK ADD CHECK  (([loaiNguon]=N'BAI_NOP' OR [loaiNguon]=N'DE_TAI'))
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD CHECK  (([gioiTinh]=N'NU' OR [gioiTinh]=N'NAM'))
GO
ALTER TABLE [dbo].[LopPBL]  WITH CHECK ADD CHECK  (([thuTrongTuan]>=(2) AND [thuTrongTuan]<=(8)))
GO
ALTER TABLE [dbo].[LopPBL]  WITH CHECK ADD CHECK  (([trangThai]=N'DONG' OR [trangThai]=N'MO'))
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD CHECK  (([loai]=N'CUOI_KY' OR [loai]=N'TIEN_DO'))
GO
ALTER TABLE [dbo].[NhanXet]  WITH CHECK ADD CHECK  (([diem]>=(0) AND [diem]<=(10)))
GO
ALTER TABLE [dbo].[NhanXet]  WITH CHECK ADD CHECK  (([loaiNhanXet]=N'CUOI_KY' OR [loaiNhanXet]=N'TIEN_DO'))
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  (([gioiTinh]=N'NU' OR [gioiTinh]=N'NAM'))
GO
ALTER TABLE [dbo].[ThanhVienNhom]  WITH CHECK ADD CHECK  (([vaiTro]=N'Member' OR [vaiTro]=N'Leader'))
GO
ALTER TABLE [dbo].[YeuCauThuVien]  WITH CHECK ADD CHECK  (([trangThai]=N'BI_TU_CHOI' OR [trangThai]=N'DA_DUYET' OR [trangThai]=N'CHO_DUYET'))
GO
ALTER TABLE [dbo].[YeuCauThuVien]  WITH CHECK ADD CHECK  (([loai]=N'PUBLIC' OR [loai]=N'INTERNAL'))
GO
